<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @datum.no %>
</p>

<p>
  <b>Barcode:</b>
  <%= @datum.barcode %>
</p>

<p>
  <b>Quantity:</b>
  <%= @datum.quantity %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
